# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
*.egg
*.egg-info/
dist/
build/
*.pyc
*.pyo
*.pyd

# Django specific
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Local development files
.DS_Store
*.env
*.local
*.secret
*.bak
*.tmp

# IDE-specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Testing
coverage_html_report/
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# VS Code specific
.vscode/

# environments
dev.env
.env

# Migrations
migrations/
migrations/*.py
!migrations/__init__.py
!*/migrations/__init__.py

# custom files 
chatapp.py